*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(90, 90, 90);
}
.form_area {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    background: rgb(165, 191, 238);
    padding: 50px;
    border-radius: 50px;
}

.form_area input {
    margin: 4px 0;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#submit {
    display: block;
    width: 100px;
    padding: 10px 30px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 20px auto 0;
}


.see_data {
    background-color: #fff;
    text-decoration: none;
}